@import "./main.styles.scss";

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
  z-index: -1;
}

.beta {
  font-size: 16px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: white;
  font-weight: 200;
  opacity: 0.4;
}
