$breach-color: #9E644B;
$brimstone-color: #468EB7;
$cypher-color: #A9AD96;
$jett-color: #55D1E0;
$killjoy-color: #308D60;
$omen-color: #543EFF;
$phoenix-color: #F0753A;
$raze-color: #F6AD40;
$reyna-color: #AF31EB;
$sage-color: #21CEAF;
$skye-color: #8CD453;
$sova-color: #325FFF;
$viper-color: #2AC849;

$background: #131c2e